mypy==0.812
mypy-extensions==0.4.3
numpy==1.20.2
opencv-python==4.5.1.48
pycodestyle==2.7.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
python-osc==1.7.4
pyudev==0.22.0
PyYAML==5.4.1
six==1.15.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
